button {
  width: 7rem;
  height: 2rem;
  font-size: 15px;
  margin-top: 4px;
}

input {
  margin-top: 4px;
  height: 25px;
  width: 15rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

